:root {
  --main-color: #484848;
  --tool-blue: #007cb0;
  --tool-red: #a64452;
}

body {
  font-size: 14px;
  font-family: monospace;
  color: var(--main-color);
  margin: 2em auto;
  width: 370px;
}

.infosite_tool_layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0.5em 0;
}

.flex-container {display: flex;}

form {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

div[id^="infosite_"],
input[type="text"],
select {
  border: thin solid var(--tool-blue);
  border-radius: 5px;
  box-shadow: 1px 1px steelblue;
}

button[type="submit"] {
  border: thin solid var(--tool-blue);
  border-radius: 5px;
  box-shadow: 1px 1px #007cb0;
  background: #fff;
  font-size: 16px
}

div[id^="infosite_"],
select {
  padding: 1em;
  margin: 1em auto;
}

input[type="text"] {
  padding: 0.25em 0;
}

#infosite_tracking > div,
#infosite_sponsorship,
#infosite_poll > div,
#infosite_number_of_media > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#infosite_tracking label,
#infosite_sponsorship label,
#infosite_poll label,
#infosite_number_of_media label {
  margin-right: 1em;
}

#infosite_header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 2);
  margin: auto;
}

#infosite_number_of_pages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#infosite_number_of_pages > :last-child {
  font-size: 75%;
}

#pages_titles_table {
  width: 311px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#page_titles_table > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#page_titles_table > div * {
  overflow: hidden;
}

#page_titles_table > div div {
  margin: 1em auto;
}

#infosite_page_titles input {
  max-width: 6em;
}

.infosite_table_header {
  font-size: 10px;
}

.infosite_table_header > div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.infosite_table_header > div div {
  padding: 0 1.75em;
}

.media_table {
  display: flex;
  flex-direction: column;
}
.media_table > div {
  margin: 0.5em;
}

.errorText,
.disclaimer {
  font-size: 12px;
  color: var(--tool-red);
  text-align: center;
  padding: 0;
}

#videos_table,
#audios_table {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

form > div:last-of-type{
  display: flex;
  justify-content: right
}


#infosite_number_of_media {
  font-size: 12px;
}

div[id*="radio"] {
  display: flex;
  width: 100px;
}

.hlayout {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  text-align: center;
  margin-top: 1em;
}


  .messages .success{
    border:1px sold green;
    background-color:#dff0d8;
    color: #3c763d;
    border-color:#d6e9c6;
    font-size:13px;
    padding:5px;
    word-wrap:break-word;
  }
  .messages .errors{
    background-color:#f2dede;
    color: #a94442;
    border-color:#ebccd1;
    font-size:13px;
    padding:5px;
    word-wrap:break-word;
    margin-bottom: 5px !important;
  }
  
  .error-block {
    width: 300px;
    max-height: 515px;
    border: 1px solid rgb(221, 221, 221);
    margin-left: 15px;
    text-align: center;
    padding: 2px 5px 2px 5px;
  }

  p.errors {
    margin: 0 0 10px  
  }

@media screen and (max-width: 500px) {
  .infosite_tool_layout {
    font-size: 75%;
    max-width: 390px;
    padding: 0 1em;
  }
}
