:root {
  --main-color: #484848;
  --tool-blue: #007cb0;
  --tool-red: #a64452;
}

body {
  font-size: 14px;
  font-family: monospace;
  color: var(--main-color);
  overflow: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  width: 320px;
}

.infosite_tool_layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input,
h1,
h2,
h3,
h3 + div,
h4,
h5,
h6 {
  text-align: center;
  margin: 0.5em 0;
}

h1 {
  margin-bottom: 0;
}

form {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

div[id^="infosite_"],
input[type="text"],
input[type="url"],
select {
  border: thin solid var(--tool-blue);
  border-radius: 5px;
  box-shadow: rgba(70, 130, 180, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}

button[type="submit"] {
  border: thin solid var(--tool-blue);
  border-radius: 5px;
  box-shadow: 1px 1px #007cb0;
  background: #fff;
  font-size: 16px
}

div[id^="infosite_"],
select {
  padding: 1em;
  margin: 1em auto;
}

input[type="text"] {
  padding: 0.25em 0;
}

#infosite_tracking > div,
#infosite_sponsorship,
#infosite_poll > div,
#infosite_accordion > div,
#infosite_number_of_media > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#infosite_tracking label,
#infosite_sponsorship label,
#infosite_poll label,
#infosite_accordion label,
#infosite_number_of_media label {
  margin-right: 1em;
}

#infosite_header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 2);
  margin: auto;
}

#infosite_number_of_pages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#infosite_number_of_pages > :last-child {
  font-size: 75%;
}

#pages_titles_table {
  width: 311px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#page_titles_table > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#page_titles_table > div * {
  overflow: hidden;
}

#page_titles_table > div div {
  margin: 1em auto;
}

#infosite_page_titles input {
  max-width: 6em;
}

.infosite_table_header {
  font-size: 10px;
}

.infosite_table_header > div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.infosite_table_header > div div {
  padding: 0 1.75em;
}

.media_table {
  display: flex;
  flex-direction: column;
}
.media_table > div {
  margin: 0.5em;
}

.errorText,
.disclaimer {
  font-size: 12px;
  color: var(--tool-red);
  text-align: center;
  padding: 0;
}

#videos_table,
#audios_table {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

form > div:last-of-type{
  display: flex;
  justify-content: right
}


#infosite_number_of_media {
  font-size: 12px;
}

div[id*="radio"] {
  display: flex;
  flex: 0 0 8rem;
}

.hlayout {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em auto;
}

  .messages-header, 
  .error-block {
    display: none;
  }

  .messages-header {
    background-color:#E48E66;
    max-height: 515px;
    width: 300px;
    color: #320000;
    border: thin solid #650F00;
    border-radius: 3px;
    font-size:13px;
    margin-left: 15px;
    text-align: center;
    padding: 2px 5px 2px 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
  }

  .messages .errors{
    background-color:rgba(228, 143, 103, 0.75);
    color: #650F00;
    border-color:#650F00;
    border-radius: 5px;
    font-size:13px;
    padding:5px;
    word-wrap:break-word;
    margin-bottom: 5px;
  }
  
  .error-block {
    width: 300px;
    border: thin solid #650F00;
    border-radius: 5px;
    margin-left: 15px;
    text-align: center;
    padding: 2px 5px 2px 5px;    
  }

  p.errors {
    margin: 0 0 10px  
  }

  #jsonOutput {
    text-wrap: wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
  }

@media screen and (max-width: 500px) {
  .flex-container {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .infosite_tool_layout {
    font-size: 75%;
    padding: 0 1em;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .flex-container {
    width: auto;
  }
}